html{
    background-color: black;
}

main{
    background-color: white;
}

main h2 {
    font-size: 40px;
}

body {
    width: 1310px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    background-color: white;
}

header {
    background-color: black;
    width: 1310px;
}
 
h1 {
    margin-right: 40px;
    color: #007D7B;
    float: left;
    font-size: 40px;
}

nav li {
    margin-left: 100px;
    display:inline-block;
    text-decoration: none;
    float: right;
    margin: 40px;
    margin-left: 90px;
    font-size: 16px;
}

nav a {
    text-decoration: none;
    color: white;
}

nav a:hover {
    background-color: #007D7B;
    color:#ffffff;
}

[href="#top"] {
    position:fixed;
    text-align: center;
    bottom:0px;
    right:0px;
    border-radius: 1px;
    padding-left: 10px;
    padding-top: 2px;
    padding-right: 10px;
    background-color: #007D7B;
    color: white;
}

[href="#top"]:hover {
    background-color: white;
    color: #007D7B;
}

.about {
    background-color: white;
    display: inline-block;
    width: 1310px;

}

.about h2 {
    position: absolute;
    right: 60px;
    margin-top: 1px;
    text-align: left;
    font-size: 40px;
}

.about p {
    margin-top: 60px;
    text-align: right;
    padding-right: 15px;
    font-size: 16px;
   
}

#headerImg {
    float: left;
    margin-right: 100px;
    padding-left: 10px;
    padding-top: 10px;
}


header h2 {
    float: right;
    margin-right: 20px;
}

.myGallery h2, p {
    padding-left: 10px;
    margin-top: 2px;
    margin-bottom: 10px;
}



figure {
    display: inline-block;
    margin-left: 9px;
    margin-right: 1px;
    margin-top: 2px;
}

figcaption {
    position: absolute;
}

#myContact {
    background-color: black;
    text-align: center;
    color: #ffffff;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    
}

.myForm{
    display: inline-block;
}


form {
	text-align: left;
	background-color: black;
	margin: 0 auto;
	border-radius: 16px;
	padding-bottom: 10px;
	display: inline-block;
}

label {
    color: white;
    font-size: 16px;
    padding-bottom: 5px;
}

input {
	display: block;
	width: 500px;
	height: 20px;
}

select {
	display: block;
	margin-top: 10px;
	margin-bottom: 10px;
}

::placeholder {
    color: #007D7B;
    font-size: 12px;
}

#submit {
    width: 200px;
    height: 30px;
    color: white;
    margin: 0 auto;
    margin-top: 10px;
    background-color: #007D7B;
    border-style: none;
    border-radius: 7px;
}

footer {
    background-color: black;
    font-size: 16px;
    font-family: arial;
    color: white;
    text-align: center;
}

.whiteCaption {
    color: white;
    font-size: 16px;
}

.imageOnePos, .imageTwoPos {
    top: 405px;
    padding-bottom: 60px;
    padding-left: 5px;
    position: absolute;
    font-size: 16px;
}

.imageThreePos {
    position: absolute;
    top: 650px;
    right: 100px;
}

.imageFourPos {
    top: 705px;
    padding-bottom: 60px;
    padding-left: 2px;
    position: absolute;
    font-size: 16px;
}

.imageFivePos {
    position: absolute;
    top: 1300px;
    right: 540px;
}

.imageSixPos {
    top: 1300px;
    padding-bottom: 60px;
    padding-left: 5px;
    position: absolute;
    font-size: 16px;
}

.imageSevenPos {
    position: absolute;
    top: 1600px;
    left: 320px;
}

.imageEightPos {
    top: 1355px;
    padding-bottom: 60px;
    padding-left: 2px;
    position: absolute;
    font-size: 16px;
}

.imageNinePos {
    top: 1600px;
    padding-bottom: 60px;
    padding-left: 5px;
    position: absolute;
    font-size: 16px;
}

.imageTenPos {
    position: absolute;
    top: 1915px;
    left: 400px;
}

.imageElevenPos {
    top: 1665px;
    padding-bottom: 60px;
    padding-left: 5px;
    position: absolute;
    font-size: 16px;
}

.imageTwelvePos {
    top: 1665px;
    padding-bottom: 60px;
    padding-left: 5px;
    position: absolute;
    font-size: 16px;
}
